.card-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem auto 0;
  width: 100px;
  font-size: 25px;
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-sec);
  font-family: "Open Sans Condensed", sans-serif;
  }
  
  .card-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 50vh;
    margin-top: 30px;
  }
  
  .card-container .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 50px;
  }

  .card-1 .card-img {  
    background: url("../../../public/assets/node.png");
  }

  .card-2 .card-img {  
    background: url("../../../public/assets/react.png");
  }

  .card-3 .card-img {  
    background: url("../../../public/assets/js.png");
  }

  .card-container .card .card-img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
    transition: transform 500ms ease;
  }

  .card-container .card .card-img:hover {  
    transform: translateY(-15px);
  }
  
  .card-container .card .card-info {
    font-family: "Open Sans Condensed";
    max-width: 50%;
  }
  
  .card-container .card .card-info .name {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: transform 500ms ease;
    cursor: default;
  }

  .card-container .card .card-info .name:hover {
    transform: rotate(360deg);

  }

  @media (max-width: 1500px){
    .card-container {
      flex-direction: column;
      min-height: 30vh;
    }
  }
  
  @media (max-width: 820px) {
    .card-container .card .card-info .name {
      font-size: 25px;
    }
  }  
  
  @media (max-width: 375px) {
  
    .card-container .card .card-img {
      height: 200px;
      width: 200px;
    }
  }
  