.about-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  padding: 50px;
  backdrop-filter: blur(20px);
}

@media (max-width: 1500px) {
  .about-container {
    margin-top: 40px;
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding: 15px;
  }
}

