@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-sec);
  z-index: 1;
}

:root {
  --color-main: #F16D82;
  --color-pri: #F4867B;
  --color-pri-light: #F4867B90;
  --color-sec: #FBDFDB;
  --color-sec-light: #FBDFDB90;

  --pc-width: 75%;
  --tab-width: 90%;
  --phone-width: 100%;
}

body {
  background: var(--color-main);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  animation: move 1s linear infinite forwards;
}

html {
  scroll-behavior: smooth;
}

.bg-circle1 {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: var(--color-pri);
  filter: blur(140px);
}

.bg-circle2 {
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: var(--color-sec);
  filter: blur(150px);
}

::-webkit-scrollbar {
  width: 0
}

.container {
  border-radius: 10px;
  width: var(--pc-width);
  color: var(--text-pri);
  padding: 10px 40px;
  margin: 5px auto;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    width: var(--phone-width);
  }
}
